body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#index-hero {
  position: relative;
}
body.dark #index-hero > div::before{
  content: "";
  position: absolute;
  top: 0;
  left:0;
  display: block;
  background-image: url("https://images.pexels.com/photos/1454253/pexels-photo-1454253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  width: 100%;
  height: 100%;
}


.m-title{
  font-family: 'Merriweather Sans', sans-serif;
}

.scale-lg{
  transform: scale(1.2)

}

.scale-lg:hover{
color: blue
}

.scale-sm{
  transform: scale(.75)
}
